{% extends "layout.html" %}

{% block body %}
  <table class="table table-striped">
    <thead class=thead-dark>
      <tr>
        <th>Boat</th>
        <th>Type</th>
        <th>Class</th> 
        {% if current_user.is_authenticated and "admin" in current_user.roles() %}
          <th>Actions</th>     
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for boat in boats %}
      <tr>
        <td>{{ boat.name }}</td>
        <td>{{ boat.boat_type }}</td>
        <td>{{ boat.boat_class }}</td>
        {% if current_user.is_authenticated and "admin" in current_user.roles() %}
          <td>
            <div class="d-flex flex-row justify-content-around">
              <form method="GET" action="{{ url_for('show_boat', boat_id=boat.id) }}">
                <button class="btn btn-primary" type="submit">modify</button>
              </form>
              <form method="POST" action="{{ url_for('delete_boat', boat_id=boat.id) }}" onsubmit="return confirm('Are you sure you want to delete boat {{ boat.name }}?');">
                <button class="btn btn-primary" type="submit">delete</button>
              </form>
            </div>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}