{% extends "layout.html" %}

{% block body %}
    <table class="table table-striped">
        <thead class=thead-dark>
            <tr>
                <th>Starting time</th>
                <th>Ending time</th>
                <th>Skipper</th>     
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.starting_time }}</td>
                <td>{{ reservation.ending_time }}</td>
                <td>{{ reservation.user_id }}</td>
                {% if current_user.is_authenticated and current_user.id == reservation.user_id %}
                    <td>
                        <div class="d-flex flex-row justify-content-around">
                        <form method="GET" action="{{ url_for('show_reservation', reservation_id=reservation.id) }}">
                            <button class="btn btn-primary" type="submit">modify</button>
                        </form>
                        <form method="POST" action="{{ url_for('delete_reservation', reservation_id=reservation.id) }}">
                            <button class="btn btn-primary" type="submit">delete</button>
                        </form>
                        </div>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>    
    </table>
{% endblock %}