{% extends "layout.html" %}

{% block body %}
    <table class="table table-striped">
        <thead class=thead-dark>
            <tr>
                <th>
                    <a class="text-white" href="{{ url_for('calendar_index') }}?order_by=starting_time&sort={{sort_starting}}">
                        Starting time {{ arrow_starting }}
                    </a>
                </th>
                <th>
                    <a class="text-white" href="{{ url_for('calendar_index') }}?order_by=ending_time&sort={{sort_ending}}">
                        Ending time {{ arrow_ending }}
                    </a>
                </th>
                <th>Number of boats</th>     
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                {% if reservation.number_of_boats() != 0 %}
                    <tr>
                        <td>{{ reservation.starting_time }}</td>
                        <td>{{ reservation.ending_time }}</td>
                        <td>{{ reservation.number_of_boats() }}</td>
                        {% if current_user.is_authenticated and current_user.id == reservation.user_id
                                and reservation.ending_time > current_time %}
                            <td>
                                <div class="d-flex flex-row justify-content-around">
                                <form method="GET" action="{{ url_for('show_reservation', reservation_id=reservation.id) }}">
                                    <button class="btn btn-primary" type="submit">modify</button>
                                </form>
                                <form method="POST" action="{{ url_for('delete_reservation', reservation_id=reservation.id) }}">
                                    <button class="btn btn-primary" type="submit">delete</button>
                                </form>
                                </div>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>    
    </table>
{% endblock %}