{% extends "layout.html" %}

{% block body %}
    <table class="table table-striped">
        <thead class=thead-dark>
            <tr>
                <th>Starting time</th>
                <th>Ending time</th>
                <th>Skipper</th>      
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.starting_time }}</td>
                <td>{{ reservation.ending_time }}</td>
                <td>{{ reservation.user_id }}</td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
{% endblock %}